<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.com">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Adding employee</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="#">Ｅｍｐｌｏｙｅｅ  Ｍａｎａｇｅｍｅｎｔ  Ｓｙｓｔｅｍ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Ｈｏｍｅ <span class="sr-only">(current)</span></a>
      </li>
   
     
</nav>
 <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                
                    <h4 class="text-center text-primary">Ｅｎｔｅｒ Ａｌｌ Ｆｉｅｌｄｓ</h4>
                    
                    <form th:action="@{/register}" method="post">
                    
                    <div class="form-group">
                        <label>Enter Full Name</label><br> <input type="text"
                            class="form-controle" name=name>
                    </div>
                    
                     <div class="form-group">
                    <label>Enter Address</label><br> <input type="text" 
                    class="form-controle" name=address>
                    </div>
                    
                     <div class="form-group">
                    <label>Enter Email</label><br>
                    <input type="text" class="form-controle" name=email>
                    </div>
                    
                     <div class="form-group">
                    <label>Enter Ph Number</label><br>
                    <input type="number" class="form-controle" name=phno>
                    </div>
                    
                     <div class="form-group">
                    <label>Salary</label><br> <input type="number"
                     class="form-controle" name=salary>
                    </div>
                    
                    <button class="btn btn-success btn-block">Submit</button>
                    
                    
                    </form>
                </div>
            </div>
         </div>
      </div>
  </div>

</body>
</html>